h1  {
  background-color: gray
}

ul  {
  background-color: blue
}

ul {
  margin: auto;
  width: auto;
  border: 10 px blue;
  padding: 15px;
}

ol  {
  background-color: orange
}

ol{
  margin: auto;
  width: auto;
  border: 10 px black;
  padding: 15px;
}
footer {
  text-align: center;
}