h1  {
  background-color: gray
}

h2  {
  background-color: salmon
}

h3  {
  background-color: salmon
}

h4{
  background: salmon
}

ul  {
  background-color: blue;
  margin: auto;
  width: auto;
  border: 10 px blue;
  padding: 15px;
}

ol  {
  background-color: orange;
  margin: auto;
  width: auto;
  border: 10 px black;
  padding: 15px;
}
footer {
  text-align: center;
  background-color: pink;
}