h1  {
  text-align: center;
  background-color: blue;
  color: turquoise;
}

h2  {
  text-align: center;
  background-color: salmon
}

h3  {
  text-align: center;
  background-color: salmon
}

h4{
  text-align: center;
  background: salmon
}

ul  {
  text-align: center;
  background-color: purple;
  margin: auto;
  width: auto;
  border: 10 px blue;
  padding: 15px;
  color: pink;
}

ol  {
  text-align: center;
  background-color: purple;
  margin: auto;
  width: auto;
  border: 10 px blue;
  padding: 15px;
  color: pink;
}
footer {
  text-align: center;
  background-color: blue;
  color: turquoise;
}